@using SalesManagement.Shared.ValueObject
@page "/productList"
@inject HttpClient http
@addTagHelper *, BlazorStrap

<h1>Product List Page</h1>

@if (productList == null)
{
    <p>Loading Product Data ...</p>
}
else
{
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ProductId</th>
                    <th scope="col">Name</th>
                    <th scope="col">ListPrice</th>
                    <th scope="col">Size</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Color</th>
                    <th scope="col">Buy?</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in productList)
                {
                <tr>
                    <td scope="row">@p.ProductId</td>
                    <td>@p.Name</td>
                    <td>@p.ListPrice</td>
                    <td>@p.Size</td>
                    <td>@p.Weight</td>
                    <td>@p.Color</td>
                    <td>@p.Picked
                    </td>
                    <td>@p.PurchaseAmount</td>
                </tr>
                }
            </tbody>

        </table>
    </div>
        }

        @functions{
            ProductVO[] productList;
    protected override async Task OnInitAsync()
        {
            productList = await http.GetJsonAsync<ProductVO[]>("/api/Product/FirstTen");
        }





        }
